
.button-container {
     flex-wrap: wrap; 
}
.custom-button {
    position:initial;
    background-color: rgb(197, 134, 134);
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-weight: bold;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
    width: 150px;
    height: 150px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 2px;
    margin-right: 2px;
    border-color:4px solid #333;
}

.custom-button img {
    width: 130px;
    height: 80px;
    margin-bottom: 5px;
}

